/* small device */
@media (min-width:320px) and (max-width:575.9px){
    .container{
        width: 320px;
    }
    .col-sm-1{
        width: calc(var(--fixed_width)*1%);
    }
    .col-sm-2{
        width: calc(var(--fixed_width)*2%);
    }
    .col-sm-3{
        width: calc(var(--fixed_width)*3%);
    }
    .col-sm-4{
        width: calc(var(--fixed_width)*4%);
    }
    .col-sm-5{
        width: calc(var(--fixed_width)*5%);
    }
    .col-sm-6{
        width: calc(var(--fixed_width)*6%);
    }
    .col-sm-7{
        width: calc(var(--fixed_width)*7%);
    }
    .col-sm-8{
        width: calc(var(--fixed_width)*8%);
    }
    .col-sm-9{
        width: calc(var(--fixed_width)*3%);
    }
    .col-sm-10{
        width: calc(var(--fixed_width)*10%);
    }
    .col-sm-11{
        width: calc(var(--fixed_width)*11%);
    }
    .col-sm-12{
        width: calc(var(--fixed_width)*12%);
    }
    .mainoption{
        text-align: center;
    }
    .mainoption h1{
        padding-top: 50px;
        padding-left: 60px;
        text-transform: uppercase;
        font-size: 50px;
        color: aliceblue;
        
    }
    
}
/* semi small or tab */
@media (min-width:576px) and (max-width:767.9px){
    .container{
        width: 576px;
    }
    .col-tab-1{
        width: calc(var(--fixed_width)*1%);
    }
    .col-tab-2{
        width: calc(var(--fixed_width)*2%);
    }
    .col-tab-3{
        width: calc(var(--fixed_width)*3%);
    }
    .col-tab-4{
        width: calc(var(--fixed_width)*4%);
    }
    .col-tab-5{
        width: calc(var(--fixed_width)*5%);
    }
    .col-tab-6{
        width: calc(var(--fixed_width)*6%);
    }
    .col-tab-7{
        width: calc(var(--fixed_width)*7%);
    }
    .col-tab-8{
        width: calc(var(--fixed_width)*8%);
    }
    .col-tab-9{
        width: calc(var(--fixed_width)*3%);
    }
    .col-tab-10{
        width: calc(var(--fixed_width)*10%);
    }
    .col-tab-11{
        width: calc(var(--fixed_width)*11%);
    }
    .col-tab-12{
        width: calc(var(--fixed_width)*12%);
    }
    

}
/* ipad  */
@media (min-width:768px) and (max-width:991.9px){
    .container{
        width: 768px;
    }
    .col-ipad-1{
        width: calc(var(--fixed_width)*1%);
    }
    .col-ipad-2{
        width: calc(var(--fixed_width)*2%);
    }
    .col-ipad-3{
        width: calc(var(--fixed_width)*3%);
    }
    .col-ipad-4{
        width: calc(var(--fixed_width)*4%);
    }
    .col-ipad-5{
        width: calc(var(--fixed_width)*5%);
    }
    .col-ipad-6{
        width: calc(var(--fixed_width)*6%);
    }
    .col-ipad-7{
        width: calc(var(--fixed_width)*7%);
    }
    .col-ipad-8{
        width: calc(var(--fixed_width)*8%);
    }
    .col-ipad-9{
        width: calc(var(--fixed_width)*3%);
    }
    .col-ipad-10{
        width: calc(var(--fixed_width)*10%);
    }
    .col-ipad-11{
        width: calc(var(--fixed_width)*11%);
    }
    .col-ipad-12{
        width: calc(var(--fixed_width)*12%);
    }
}

/* large content */
@media (min-width:992px) and (max-width:1199.9px){
    .container{
        width: 992px;
    }
    .col-lg-1{
        width: calc(var(--fixed_width)*1%);
    }
    .col-lg-2{
        width: calc(var(--fixed_width)*2%);
    }
    .col-lg-3{
        width: calc(var(--fixed_width)*3%);
    }
    .col-lg-4{
        width: calc(var(--fixed_width)*4%);
    }
    .col-lg-5{
        width: calc(var(--fixed_width)*5%);
    }
    .col-lg-6{
        width: calc(var(--fixed_width)*6%);
    }
    .col-lg-7{
        width: calc(var(--fixed_width)*7%);
    }
    .col-lg-8{
        width: calc(var(--fixed_width)*8%);
    }
    .col-lg-9{
        width: calc(var(--fixed_width)*3%);
    }
    .col-lg-10{
        width: calc(var(--fixed_width)*10%);
    }
    .col-lg-11{
        width: calc(var(--fixed_width)*11%);
    }
    .col-lg-12{
        width: calc(var(--fixed_width)*12%);
    }
}

/* Extra large contenent */
@media (min-width:1200px) and (max-width:1399.9px){
    .container{
        width: 1200px;
    }
    .col-xlg-1{
        width: calc(var(--fixed_width)*1%);
    }
    .col-xlg-2{
        width: calc(var(--fixed_width)*2%);
    }
    .col-xlg-3{
        width: calc(var(--fixed_width)*3%);
    }
    .col-xlg-4{
        width: calc(var(--fixed_width)*4%);
    }
    .col-xlg-5{
        width: calc(var(--fixed_width)*5%);
    }
    .col-xlg-6{
        width: calc(var(--fixed_width)*6%);
    }
    .col-xlg-7{
        width: calc(var(--fixed_width)*7%);
    }
    .col-xlg-8{
        width: calc(var(--fixed_width)*8%);
    }
    .col-xlg-9{
        width: calc(var(--fixed_width)*3%);
    }
    .col-xlg-10{
        width: calc(var(--fixed_width)*10%);
    }
    .col-xlg-11{
        width: calc(var(--fixed_width)*11%);
    }
    .col-xlg-12{
        width: calc(var(--fixed_width)*12%);
    }
}
/* XXL */
@media (min-width:1400){
    .container{
        width: 1400px;
    }

}